@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #292928;
  --verification-background: #F9F7E8;
  --stepper-upper: #22443D;
  --stepper-lower: #162F2D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-verification-background: var(--verification-background);
  --color-stepper-upper: var(--stepper-upper);
  --color-stepper-lower: var(--stepper-lower);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292928;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: spirits-soft, serif;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Custom range thumb styling */

.custom-range {
  appearance: none;
  width: 100%;
  height: 8px;
  background-color: #EBE9DB;
  border-radius: 5px;
}

.custom-range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to bottom, #22443D, #162F2D);
  border-radius: 50%;
  margin-top: 0px;
  cursor: pointer;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to bottom, #22443D, #162F2D);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-moz-range-progress {
  background-image: linear-gradient(to bottom, #22443D, #162F2D);
  height: 8px;
  border-radius: 4px;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}